/* Contenedor del encabezado */
.Menu_app {
    display: flex;  /* Utiliza Flexbox para alinear los elementos en una fila */
    flex-direction: column;
    height: 100vh;
  }
  
  .Menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
  }
    /* Contenedor de los botones */
  .Menu_sidebar {
    display: flex;
    gap: 20px;
  }
  
  .Button_play,
  .Button_historial,
  .Button_rules {
    color: white;
    cursor: pointer;
  }
   /* Contenedor del título */
  .MenuWallpaper {
    flex-grow: 1;
    text-align: center;
  }
  /* Estilos para el título */
  .Title_name {
    font-size: 2.5em;
    color: #61dafb;
    text-shadow: 1px 1px 2px #000;
  }
    /* Estilos para el área de juego */
  .ContentMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #f0f0f0;
  }
    
  /* Estilos para el área de juegos */
  .ContentMenu_play {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  /* Zona donde iran las preguntas */
  .Bar_questions {
    width: 100%;
    padding: 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
  }
  /* Boptones de las respuestas */
  .ResponseButton {
    width: 45%;
    margin: 10px 2.5%;
    padding: 15px;
    background-color: #fff;
    border: 2px solid #007BFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  /* Animacion al precionar los botones*/
  .ResponseButton:hover {
    background-color: #007BFF;
    color: white;
    transform: scale(1.05);
  }
  